@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.app-container {
  padding: 1rem; 
  min-height: 100vh;
  background-color: #fcf9ea;
  font-family: "Inter", sans-serif;
}

@media (min-width: 640px) {
  .app-container {
    padding: 2rem; 
  }
}


.app-header {
  margin-bottom: 2rem; 
}
.app-header-title {
  font-size: 1.875rem; 
  font-weight: 800; 
  color: #1f2937; 
  border-bottom: 4px solid #bd2426;
  padding-bottom: 0.5rem;
}
.app-header-subtitle {
  margin-top: 0.5rem;
  color: #4b5563;
}


.main-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}

.filter-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}

@media (min-width: 1024px) {
  
  .main-layout {
    display: grid;
    grid-template-columns: 280px 1fr; 
    align-items: flex-start; 
    gap: 2rem;
    margin-top: 0;
  }

  .filter-sidebar {
    position: sticky;
    top: 2rem;
    align-self: flex-start; 
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

        
 .data-container {
    background-color: white;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05); 
    border-radius: 0.75rem; 
    padding: 0;
    overflow-x: auto; 
}

.data-heading {
  padding: 1rem; 
  font-size: 1.125rem; 
  font-weight: 600; 
  color: #374151; 
}
